body  {
	box-sizing: border-box;
	background-color: #fadc77a5;
}

h1 {
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
}
p {
	margin: 0 50px 30px;
	text-align: center;
	line-height: 150%;
}
footer {
	display: block;
	text-align: center;
	padding: 0 10px;
}
a {
	padding: 0 10px;
	color: #4a3c0eb6;
}
a:hover {
	color: rgb(235, 117, 14);
}
.inner-img {
	max-width: 800px;
	display: block;
	margin: 35px auto;
	border-radius: 15px;
}
.inner-link {
	color: blue;
}
.inner-link:hover {
	color: rgb(112, 112, 240);
}